header {
  background-color: yellow;
  border: 2px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
}

li {
  float: right;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

header div {
  border: 2px solid black
}

main {
  border: 1px solid black;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;


}

.container div {
  width: 500px;
  display: flexbox;
  justify-content: center;


}

article {
  border: 2px solid black;
}

article div {
  border: 1px solid black;
  
}

